<!DOCTYPE html>
{{- $dataTheme := "" }}
{{ if eq site.Params.style "light-without-switcher" }}
    {{ $dataTheme = "light" }}
{{ end -}}
<html lang="{{ .Site.Params.locale | default .Site.LanguageCode }}" data-theme="{{ $dataTheme }}">
{{ block "head" . }}
    {{- partial "head.html" . }}
{{ end }}
<body>
    <a class="skip-main" href="#main">{{ i18n "skipToContent" }}</a>
    <div class="container">
        <header class="common-header">
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1">
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>
</body>
</html>
