{{ define "main" }}
    {{ if .Menus }}
        <nav class="post-navigation">
        {{ range .Menus }}
            <a href="{{ .MenuConfig.URL | absLangURL }}" title="{{ .Title }}">{{ .Name | markdownify }}</a>
        {{ end }}
        </nav>
    {{ end }}

    <article class="post h-entry">
        <div class="post-header">
            <header>
                <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ if .Params.authorPage }}Author -{{ end }} {{ trim .Title  " " | markdownify }}</h1>
                {{ partial "post-language-switcher.html" . }}
            </header>
        </div>
        <!-- don't want to show the default author always in post-info -->
        {{  if and (.Site.Params.author) (not .Params.authors) (not .Params.authorPage) }}
            {{ $author_name := .Site.Params.author }}
            {{ $author := ($.Site.GetPage (printf "/authors/%s" $author_name | urlize )) }}
            <div class="post-info">
                <ul class="post-authors">
                    <a href="{{ $author.Permalink }}">@{{ $author_name }}</a>
                </ul>
            </div>
        {{ end }}

        {{ partial "post-info.html" . }}
        {{ partial "toc.html" .}}
        <div class="content e-content">
            {{ .Content }}
        </div>
    </article>

    {{ if gt .Site.Params.readNextPosts 0 }}
        {{ $related := .Site.RegularPages.Related . | first .Site.Params.readNextPosts }}
        {{ with $related }}
            <h3 class="read-next-title">{{ i18n "readNext" }}</h3>
            <ul class="read-next-posts">
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    {{ end }}

    {{ if and (.Site.Params.paginationSinglePost) (ne .Type "page") }}
        {{ partial "post-pagination.html" . }}
    {{ end }}

    {{ if not .Params.disableComments }}
        {{ partial "comments.html" . }}
    {{ end }}
{{ end }}
