/* dark.css */
--font-color: #eee;
--bg-color: #121212;

--link-color: #00bfff;
--link-state-color: #00bfff;
--link-state-border-color: #48d1ff;

--thead-bg-color: #283f57;
--table-border-color: lightgrey;

--nav-bg-color: #181818;
--nav-link-color: #b6b6b6;

--pre-color: #fff;
--pre-bg-color: #262930;

--bq-color: #ccc;
--hr-color: #333;

--pagination-bg-color: #373737;
--pagination-link-color: #ddd;

--post-info-color: grey;

--switcher-color: #333;
--switcher-bg-color: #fff;

--svg-color: #ccc;
--svg-state-color:#ff5858;
